@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Press+Start+2P&family=Teko:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
  color: white;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.root {
  background-color: #1e272e;
  padding: 16px 24px;
}

.color-primary {
  color: #fcc54f;
}

.nav-brand {
  font-size: 40px;
}

.body-1 {
    font-size: 20px;
    line-height: 24px;
}

.body-2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.sections {
    margin-top: 48px;
}