* {
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.root {
  background-color: #1e272e;
  padding: 16px 24px;
}

.color-primary {
  color: #fcc54f;
}

.app-bar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.logo {
  height: 62px;
}

.nav-brand-group {
  flex-grow: 1;
}

.caption {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.play-button {
  padding: 8px 20px;
  background-color: #ef5d18;
  border: solid 2px #fff;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}

.content {
  margin: 48px 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 20px;
}

.game-play {
  display: flex;
  flex-direction: column;
}

.screenshot {
  width: 300px;
  border: solid 2px #fff;
}

.caption-2 {
  font-size: 18px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-pic {
  width: 150px;
  border: solid 2px #fff;
}

@media screen and (min-width: 992px) {
  .app-bar {
    align-items: center;
    flex-direction: row;
  }

  .content {
    flex-direction: row;
  }

  .profile-card {
    flex-direction: row;
  }
}
