/* Reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* Default Layout */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
}

.app-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 80px;
}

.app-footer {
  padding: 8px 16px;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 16px;
  height: 100%;
}

.logo {
  height: 40px;
}

/* Colors */
.bg-primary {
  background-color: bisque;
}

.bg-primary-dark {
  background-color: brown;
}

.text-white {
  color: white;
}
